body {
  background: #e0e0e0;
}

#countryName1,
#countryName2,
#countryName3 {
  width: 80%;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  margin-left: 0.5rem;
}

#countriesList {
  width: 28%;
}
