body {
  background: #e0e0e0;
}

select,
option {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 1.15rem;
  padding: 0.6rem;
  max-width: 22rem;
  border-radius: 7px;
}

.container {
  display: grid;
  grid-template-areas: 'image1 image2 image3';
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 10%;
  top: 1.5rem;
  transition: background-color 1s ease-out;
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
}

.image3 {
  grid-area: image3;
}

.container .countryName {
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 1.1rem;
  padding: 0.5rem 0.6rem;
  border-radius: 7px;
  text-align: center;
  margin: 0 0 0.5rem 0.3rem;
  width: 88%;
  border: none;
  background: #e0e0e0;
}

.image {
  margin: 1.5rem;
}

#countryFlag {
  border-radius: 5px;
}

.countriesList {
  position: absolute;
  left: 32%;
  top: calc(80vh - 40%);
}

@media screen and (max-width: 908px) {
  .container {
    display: grid;
    align-items: center;
    grid-template-areas:
      'image1'
      'image2'
      'image3';
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .countriesList {
    position: absolute;
    left: 6%;
    top: calc(100vh - 1%);
    margin-top: 6.5rem;
  }
}
